/.DS_Store
/.vscode
/0000-todo-app.code-workspace
/drucicare.html
/index-test-component 2.html
/index-test-component.html
/node_modules
/template.html
.env
.venv
.gitignore
package-lock.json
config.js
codetest.html
codetest.js

