@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi');

@import "variables";
@import "colors";
@import "checkbox";
@import "grid";
@import "large";

body {
    max-height: 100vh;
    max-width: 100vw;
    margin: 1vh auto;
    color: white;
    font-size: 20px;
    font-family: $fontsecond;
    background: $background;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.halfwide {
    width: 50%;
}

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bold-text { font-weight: bold;}

#gridcontainer {
    background: $black;
    margin: 1rem 0;
}

.goalbordered {
    border: 2px solid $uYellow;
}

.dashbordered {
    border: 2px dashed $uYellow;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    max-width: 100%;
    text-align: left;
}

label {
    font-size: medium;
    text-align: center;
    padding: .25rem;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

footer {
    background: $black;
    margin: 0 auto;
}

.div-width {
    width: 10rem;
    padding: 1rem;
    margin: 1rem auto;
    font-weight: bold;
    font-size: large;
    color: white;
}

.hotpink {
    color: $hotpink;
    font-weight: bolder;
    font-size: larger;
}

.widefont{
    font-family: $fontsecond;
}

.lthotpink {
    color: $lthotpink;
    font-weight: 900;
    font-size: larger;
}

.bublue {
    background: $uBlue !important;
}

.bmedblue {
    background: $medblue !important;
}

.buyellow {
    background: $uYellow !important;
}

.byellow {
    background: $uYellow !important;
}

.buorange {
    background: $uOrange !important;
}

.borange {
    background: $orange !important;
}

.bredorange {
    background: $redorange;
}

.bdksalmon {
    background: $dksalmon;
}

.broyalblue {
    background: $royalblue;
}

.bhotpink {
    background: $hotpink;
}

.bpurple {
    background: $purple;
}

.black { color: $black; }

.bchartreuse {
    background: $chartreuse;
}

.blimegreen {
    background: $limegreen;
}

.bseafoam {
    background: $seafoam;
}

.baqua {
    background: $aqua;
}

.bskyblue {
    background: $skyblue;
}

.bnewblue {
    background: $newblue;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
    margin: 0;
    padding: 0;
}

.showborder {
    border: $goalborder;
    border-radius: $radius;
}

.sort-asc:after {
    content: "▲";
  }
  
.sort-desc:after {
    content: "▼";
}

.sharer {
    background: $black;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $uYellow;
    font-family: $fontsecond;
}

h1 {
    font-size: $font6;
}

h2 {
    font-size: $font3;
}

h3 {
    font-size: $font3;
}

h4 {
    font-size: $font3;
}

h5 {
    font-size: $font2;
    font-weight: bold;
    background: $uBlue;
}

h6 {
    font-size: $font3;
    font-weight: bold;
    font-family: $fontsecond;
    background: $uBlue;
}

figcaption { color: $uYellow; }

div,
form,
footer,
p,
header,
section {
    font-family: $fontsecond;
}

span {
    margin: auto 0;
}

div.m-2, div.m-2 span {
    padding: .5rem;
}

.morespc { line-height: 1.5; }

.centerimg {
    display: block;
    max-width: 100%;
    margin: auto;
}

.listdots {
    list-style: square;
}

.f1 {
    font-family: $fontfirst;
}

.f2 {
    font-family: $fontsecond;
}

.color3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 2vw;
    border-radius: $radius;
    margin: 4vw;
    font-weight: bold;
}

.lighthover { color: lighten($hotpink, 10%) }

.title {
  color: $uYellow;
  margin: 0 auto;
  padding: 1vw;
}

a {
    color: lighten($dksalmon, 10%);
    text-decoration: none;
    & a:hover {
        color: lighten($hotpink, 20%);
    }
}

a:visited {
    color: lighten($orange, 20%);
}

a:hover {
    color: lighten($hotpink, 20%);
}

#siteTitle2 {
    color: $accent;
    font-family: $fontsecond;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.addrow2 { padding-bottom: .25rem; }

.bgblack { background: $black; border: none; }

.whiteborder { 
    border: 1px solid white; 
    border-radius: 5px; 
}

#left1, #right1 {
    padding: .5rem;
}

input.inputs, #duedateinput {
    cursor: pointer;
    color: lighten($royalblue, 20%);
    background: $uYellow;
    width: 90%;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: $radius;
}

::placeholder {
    color: lighten(black, 45%);
    font-size: small;
}

#autofooter {
    font-weight: bold;
    color: $uYellow;
    text-align: center;
    padding: 1rem;
    margin-bottom: 6vh;
    background: $black !important;
}

.source {
    text-align: center;
    color: $hotpink;
}

.sources {
    text-align: left;
    color: $seafoam;
    font-weight: bold;
    margin: 2vh auto;
    & a {
        text-decoration: none;
        color: $seafoam;
    }
}

.icons {
    background: $black;
}

.socialicons {
    cursor: pointer;
    background: $black;
    width: 35px;
    height: 35px;
}

.italic {
    font-style: italic;
}

.btns, a.btns {
    cursor: pointer;
    min-width: 4rem;
    padding: .25rem;
    margin: auto 5px;
    height: 35px;
    background: $uBlue;
    color: $uYellow;
    border: $goalborder;
    border-radius: $btnradius;                    
}

.btns-lg {
    text-align: center;
    min-width: 5rem;
    min-height: 35px;
    padding: auto 0;
}

h4 {
    font-weight: bolder;
}

.toggle {
    color: $skyblue;
    background: $uBlue;
    font-weight: bold;
    font-size: small;
    border: 2px solid $skyblue;
    margin-left: 1rem;  
}

#lang {
    height: 35px;
    padding: .55rem 0 0 0;
    color: $chartreuse;
    background: black;
    font-weight: bold;
    font-size: large;   
}

#todoheading {
    font-size: large;
    font-weight: bolder;
}

#right1, #left1 {
    padding: .5%; 
}

.todo-bordered {
    border: $goalborder;
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

#addbar, #feedback {
    background: $black;
    padding: 0;
    margin: auto;
    border: 2px $uYellow solid;
    border-radius: $radius;
}

#row2 {
    margin: .5rem 0 0 0;

}

#addbtn {
    color: $uYellow;
    cursor: pointer;
    background: $medblue;
    font-size: $font2;
    padding: .1rem;
    width: 5rem;
    margin: 1rem;
}

#goalinput, #catinput, #duedateinput {
    cursor: pointer;
    margin: 0;
    width: 85%;
    height: 35px;
    padding: 0 .25rem;
}

.warning {
    color: lighten($warning, 5%);
}

.success {
    color: $seafoam;
    padding: .5rem;
}

.task {
    max-height: 10vh;
    max-width: 100%;
    padding: .25vh .25vw;
    margin: .25vh .25vw;
}

.task-text {
    text-align: left;
    font-weight: bolder;
    font-size: small;
}

.white {
    color: white;
}

.scratch {
    text-decoration: line-through;
}

.nodots {
    list-style-type: none;
}

.todo-text, p.todo-text {
    text-align: left;
    font-size: medium;
}

.todo-bordered {
    border: 2px solid $uYellow;
}

div#tasks, div#sortitems, div#filters { padding: .5rem; }

.sortitems {    
    cursor: pointer;
}

.itembtns {
    max-height: 30px;
    max-width: 17vw;
    background: $black;
    margin: auto .25rem;
    border-radius: 8%;
}

.editbtn, .markbtn, .delbtn {
    border-radius: $radius;
    height: 4rem;
    border: 2px solid;
}

.editbtn {    
    color: $ltskyblue;
    border-color: $ltskyblue;
}

.markbtn {    
    color: $lthotpink;
    border-color: $lthotpink;
}

.delbtn {  
    color: $orange;
    border-color: $orange;
    width: 1.75rem;
    padding: 0;
    font-size: $font2;
    font-weight: bolder;
}

.notdone {  
    color: $uYellow;
    border: 2px solid $uYellow;
}

#srchbar {
    display: flex;
    border: 2px solid $limegreen;
    border-radius: $radius;
    padding: .25rem 0;
}

#srchinput {
    cursor: pointer;
    height: 35px;
    background: $limegreen;
    color: $black;
}

p { padding: 0;  margin: 4px; }

#header1 {
    margin-bottom: 0;
}

#todos, #dtodos {
    color: white;
    margin: auto;
}

li.listitem, li.itembox {
    max-height: 25rem;
    margin: 0 auto;
    padding: 0 0 0 2vw;
    max-width: 100%;
}

div#listfooter {
    max-height: 10rem;
    padding: .25rem;
    margin: 2vw;
    border: 1px solid white;
    border-radius: $radius;
    justify-content: space-around;
}        

#filters {
    margin: 0;
    display: flex; 
    flex-direction: row;
}

p#tasks {
    font-size: $font3;
    text-align: center;
    margin: 1vw auto;
    max-height: 6vh;
    width: 100%;
}

#allbtn, #actbtn, #donebtn {
    cursor: pointer;
    border: $dotborder;
    
}

.scroll-container {
    position: fixed;
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
   
  .js-scroll.scrolled {
    opacity: 1;
  }

  .js-scroll {
    width: 50%;
    height: 300px;
    background-color: #DADADA;
    transition: background-color 500ms;
  }
   
  .js-scroll.scrolled {
    background-color: aquamarine;
  }

// .mobileShow { display: inline; }

// .mobileHide { display: none; }

/* Smartphone Portrait and Landscape */

h1.title, li.cert-text { font-size: $font5; }
h2.title, .sources { font-size: $font4; }
h3.title { font-size: $font3; }
h4.title { font-size: $font2; }
h6.title { font-size: $font2; }
p.normal-text, li a, #autofooter a, .source, li.title, h5.title { font-size: $font2; }

